doctype html
html
    head
        meta(charshet="UTF-8")
        meta(name="renderer", content="webkit")
        meta(http-equiv="X-UA-Compatible", content="IE=Edge")
        link(rel="icon" type="image/vnd.microsoft.icon" href="http://www.360.cn/favicon.ico")
        title 广告生成工具
        //script(type="text/javascript" src="/dist/js/common.js")
        //link(href="/dist/js/common.css" rel="stylesheet")
        //link(href="/dist/js/main.css" rel="stylesheet")
    body
      #container
        p hello，欢迎使用react,webpack,thinkjs2.0来构建项目
        p 项目启动成功




    //script(type="text/javascript" src="/dist/js/main.js")

